@import "../../../styles/Collors.scss";

@keyframes scale-in-picture {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  10% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

.all-friends {
  .one-message {
    display: flex;
    padding: 6px 5px;
    .picture-space {
      margin-top: 5px;
      .message-picture {
        margin: 0 5px;
        animation: scale-in-picture 0.2s both;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        font-size: 12px;
        color: #fff;
        justify-content: center;
        align-items: center;
        display: flex;
      }
    }

    .chat-info {
      display: block;
      animation: text-focus-in 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
      .message-name {
        font-size: 14px;
      }
      .no-message {
        margin-top: 8px;
      }

      .last-message {
        font-size: 12px;
      }
    }

    &:hover {
      cursor: pointer;
      background-color: $light-grey-transperant;
    }
  }

  .one-message-small {
    padding: 5px;
    .message-picture {
      height: 25px;
      width: 25px;
      border-radius: 50%;
      font-size: 12px;
      color: #fff;
      justify-content: center;
      align-items: center;
      display: flex;
    }
    .chat-info {
      display: none;
    }
    &:hover {
      cursor: pointer;
      background-color: $light-grey-transperant;
    }
  }
}

.no-friends {
  animation: scale-in-picture 0.8s both;
  padding: 20px 10px;
  text-align: center;
  .message-icon {
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }
}

@media (max-width: 40em) {
  .all-friends {
    .one-message {
      .message-picture {
        height: 20px;
        width: 20px;
        font-size: 12px;
      }
      .message-picture-small {
        height: 30px;
        width: 30px;
      }

      .chat-info {
        .message-name {
          font-size: 12px;
        }

        .last-message {
          font-size: 10px;
        }
      }
      .message-name-small {
        visibility: hidden;
      }
    }
  }
}
