@import "../../../styles/Collors.scss";

.custom-button {
  width: auto;
  padding: 5px;
  letter-spacing: 0.5px;
  font-size: 15px;
  background-color: $primary-light;
  color: black;
  font-family: $main-font;
  font-weight: bolder;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  outline: none;
  box-shadow: -1px 1px 4px -1px rgba(0, 0, 0, 0.75);

  &:hover {
    background-color: $primary-light-darker;
    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  }

  .button-icon {
    margin: 1px 5px 0 0;
  }

  &.inverted {
    background-color: $base-second-dark !important;
    color: white !important;

    &:hover {
      background-color: $base-third-dark !important;
    }
  }
  
  &:disabled {
    background-color: #adadad;
    color: #505050;
    border: 1px solid grey;
    cursor: not-allowed;
  }
}

.input-button {
  margin-top: 9px;
  padding-top: 5px;
  position: absolute;
  right: 3px;
  width: 30px;
  height: 30px;
  border-radius: 20px;
}

@media (max-width: 40em) {
  .input-button {
    margin-top: 7px;
    padding-top: 0px;
    right: 2px;
    width: 20px;
    height: 20px;
  }
}
