@import "../../../styles/Collors.scss";
 
       .round-button{
            padding: 2px;
            margin-left: 8px; 
            font-size: 20px;
            text-align: center;
            border-radius: 50%;
            width: 28px;
            height: 28px;
            background-color: $sub-color-light;
            color: $white-text;
            cursor: pointer;

            &:hover {
                background-color: $primary-light;
              }
        }