@import "../../styles/Collors.scss";

.message-area {
  padding: 20px 10px;
  max-height: 82vh;
  width: 100%;
  float: right;
  overflow-y: auto;

  .user-typing-container {
    display: flex;
    padding: 20px 0px;
    .user-typing-text {
      margin-top: 8px;
      padding-right: 5px;
      font-size: 12px;
    }
  }
}
@media (max-width: 40em) {
  .message-area {
    .user-typing-container {
      .user-typing-text {
        margin-top: 10px;
        padding-right: 0px;
        font-size: 10px;
      }
    }
  }
}

.loading-messages {
  text-align: center;
  padding-top: 15%;
}

@media (max-width: 40em) {
  .loading-messages {
    padding-top: 80%;
  }
}

.no-messages {
  @include animation("scale-in-picture 0.8s both");
  text-align: center;
  padding-top: 15%;
}

@media (max-width: 40em) {
  .no-messages {
    padding-top: 80%;
  }
}

@keyframes message-entrance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.message {
  padding-bottom: 5px;
  @include animation("message-entrance 0.3s");

  .message-block {
    display: flex;

    .bubble {
      background-color: $blue-light;
      max-width: 60em;
      word-break: break-word;
      padding: 1.125em 1.5em;
      border-radius: 1rem;
      box-shadow: 0px 7px 4px -6px rgba(0, 0, 0, 0.75);
    }
    .bubble-left {
      background-color: $base-second-light;
    }

    .point-right {
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 10px solid $blue-light;
      float: left;
      padding-left: 5px;
      margin-top: 15px;
    }

    .point-left {
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-right: 10px solid $base-second-light;
      float: left;
      padding-right: 5px;
      margin-top: 15px;
    }

    .answer {
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 1.125rem;
      letter-spacing: 0.16px;
    }
  }

  .message-time {
    color: $grey-text-light;
    font-size: 12px;
    padding: 0px 5px;
  }

  @media (max-width: 40em) {
    .message-block {
      .bubble {
        max-width: 40em;
        margin: 0px 0px;
        padding: 10px;
      }

      .point-right {
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 5px solid $blue-light;
        padding-left: 2px;
        margin-top: 14px;
      }

      .point-left {
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-right: 5px solid $base-second-light;
        padding-right: 2px;
        margin-top: 14px;
      }

      .answer {
        font-size: 0.7rem;
        font-weight: 400;
        line-height: 1.125rem;
        letter-spacing: 0.16px;
      }
    }

    .message-time {
      font-size: 10px;
      padding: 0px 5px;
    }
  }
}
