.input-bar {
  padding: 20px 55px;
  bottom: 0;
  right: 0;
  width: 100%;
  position: fixed;
  z-index: 1038;
}

@media (max-width: 40em) {
  .input-bar {
    padding: 20px 20px;
  }
}

.send-btn {
  padding: 3px 30px !important;
}

@media (max-width: 40em) {
  .send-btn {
    padding: 3px 0px !important;
  }
}

.MuiInputBase-adornedEnd {
  padding-right: 5px !important;
}

