@import "../../styles/Collors.scss";

.header {
  width: 100%;
  height: 50px;
  background-color: $base-white;
  box-shadow: 0 0 10px rgba(black, 0.3);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .logo {
    display: flex;
    margin: 10px;
    left: 20px;
    position: absolute;
    font-size: 30px;
    font-weight: 600;
    color: $primary-dark-darker;
    .logo-text {
      font-family: "Caveat";
      font-size: 30px;
      font-weight: 600;
    }
    .logo-icon {
      padding: 10px;
    }
  }

  .navigation {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    padding: 10px 10px 0 0;
  }
}

@media (max-width: 40em) {
  .header {
    .logo {
      display: none;
    }
  }
}

.spinn {
  @include transform(rotate(180deg));
  transition-duration: 0.3s;
}
.spinn-back {
  transition-duration: 0.3s;
}
