.menu-button {
  position: fixed;
  top: 20px;
  z-index: 1050;
  padding-left: 15px;
  color: #4d5358;
}

.menu-button:hover {
  color: #0f62fe;
}

.smaller-button {
  padding-left: 5px;
}

.primary-btn {
  background-color: #0f62fe !important;
}

.primary-btn:hover {
  background-color: #0043ce !important;
}

label.Mui-focused {
  color: #0f62fe !important;
}

.MuiOutlinedInput-root fieldset {
  border-color: #0f62fe !important;
}

.blue-10 {
  background-color: #edf5ff;
}

.row {
  margin:0px !important;
}
