$sub-color: #525050;
$sub-color-light: #807f7f;
$main-color: black;

$white-text: #fff;
$grey-text-light:#707070;
$grey-text-dark:#9c9c9c;
$danger-text: #b40000;

$base-white: #fff;
$base-light: #ffffff;
$base-second-light: #eeeeee;
$blue-light: #80c6ec;
$action-light: #78c8e6;
$primary-light: #5cb9db;
$primary-light-darker: #55accc;

$base-dark: #0f0f0f;
$base-second-dark: #363636;
$base-third-dark: #1a1a1a;
$blue-dark: #5b8aa3;
$action-dark: #137497;
$primary-dark: #137497;
$primary-dark-darker: #116685;

$main-font: 'Open Sans Condensed';

@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
      @content;
    }
    @-moz-keyframes #{$animation-name} {
      @content;
    }  
    @-ms-keyframes #{$animation-name} {
      @content;
    }
    @-o-keyframes #{$animation-name} {
      @content;
    }  
    @keyframes #{$animation-name} {
      @content;
    }
  }
  @mixin animation($str) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    -ms-animation: #{$str};
    -o-animation: #{$str};
    animation: #{$str};      
  }

  @mixin transform($property) {
    -webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
  }

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color:$main-color;
  transition: background-color 5000s ease-in-out 0s;
}


