@import "../../styles/Collors.scss";

.drawerBox {
  height: 90vh;
  // padding-bottom: 60px;
  word-break: keep-all;
  border-radius: 0px 20px 20px 0px;
  background-color: $base-white;
  box-shadow: 5px 0px 5px -4px rgba(0, 0, 0, 0.25);
  // overflow-y: auto;
}

@include keyframes(slide-in) {
  from {
    width: 35px;
  }
  to {
    width: 20%;
  }
}

@include keyframes(slide-out) {
  from {
    width: 20%;
  }
  to {
    width: 35px;
  }
}

@include keyframes(slide-in-mobile) {
  from {
    width: 20px;
  }
  to {
    width: 70%;
  }
}

@include keyframes(slide-out-mobile) {
  from {
    width: 70%;
  }
  to {
    width: 20px;
  }
}

.open-button {
  @include transform(rotate(180deg));
  transition-duration: 0.5s;
  margin-right: 2px;
}

.close-button {
  transition-duration: 0.5s;
}

.open-drawer {
  @include animation("slide-in 0.3s ease-in forwards");
}

.close-drawer {
  @include animation("slide-out 0.3s ease-out forwards");
}

@media (max-width: 40em) {
  .open-drawer {
    @include animation("slide-in-mobile 0.2s ease-in forwards");
  }
}

.expand-button {
  float: right;
  font-size: 15px;
  padding: 3px;
  margin: 2px 3px;
  text-align: center;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: $sub-color-light;
  color: $white-text;
  cursor: pointer;

  &:hover {
    background-color: $primary-light;
  }
}

.message-groups {
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
}
