.drawerBox {
  width: 35%;
  position: fixed;
  height: 100%;
  overflow-y: scroll;
  padding-bottom: 60px;
  word-break: keep-all;
  border-width: 20px !important;
  border: solid transparent;
  border-left: none;
  border-radius: 0px 30px 30px 0px;
}

.drawerbody {
  padding: 0px 0px 10px 0px;
  animation: fadein 1s ease-in forwards;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.open-drawer {
  animation: slide-in 0.3s ease-in forwards;
}

.close-drawer {
  animation: slide-out 0.2s ease-out forwards;
  width: 60px;
}

@keyframes slide-in {
  from {
    width: 0%;
  }
  to {
    width: 35%;
  }
}

@keyframes slide-out {
  from {
    width: 35%;
  }
  to {
    width: 60px;
  }
}

@media (max-width: 70em) {
  .open-drawer {
    position: fixed !important;
    z-index: 1040 !important;
    width: 100% !important;
    height: 100% !important;
    top: 0 !important;
    border-radius: 0px;
  }
}

.tabs-nav {
  padding: 0px;
  padding-top: 35px;
  left: 5px;
  width: 60px;
  min-width: 20px !important;
  align-items: left;
}

.tabs-grid {
  padding: 10px 0px 0px 0px;
}

.tab-header{
  word-break: break-word;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 5px;
  margin-bottom: 15px;
  border-bottom: solid 2px #0f62fe;
}

.element-label{
  margin-top: 15px;
  word-break: break-word;
}

.MuiTab-root {
  min-width: 10px !important;
  padding-left: 0px !important;
}

.MuiTab-root:hover {
  color: #0f62fe !important;
}

.MuiBox-root {
  padding: 0px !important;
}

.MuiTabs-indicator {
  background-color: #0f62fe !important;
}

.Mui-selected {
  color: #0f62fe !important;
}

button:focus {
  outline: 0;
}
