.drawerBox {
  width: 35%;
  position: fixed;
  height: 100%;
  padding-bottom: 60px;
  word-break: keep-all;
  border-width: 20px !important;
  border: solid transparent;
  border-left: none;
  border-radius: 0px 30px 30px 0px;
}

.drawerbody {
  padding: 0px 0px 10px 0px;
  animation: fadein 0.5s ease-in forwards;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.open-drawer {
  animation: slide-in 0.3s ease-in forwards;
}

.close-drawer {
  animation: slide-out 0.2s ease-out forwards;
  width: 60px;
}

@keyframes slide-in {
  from {
    width: 0%;
  }
  to {
    width: 35%;
  }
}

@keyframes slide-in-mobile {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes slide-out {
  from {
    width: 35%;
  }
  to {
    width: 60px;
  }
}

@media (max-width: 70em) {
  .open-drawer {
    position: fixed !important;
    z-index: 1040 !important;
    width: 100% !important;
    height: 100% !important;
    top: 0 !important;
    border-radius: 0px;
    animation: slide-in-mobile 0.3s ease-in forwards;
  }
}

.element-label {
  margin-top: 17px;
  padding: 0px 0px 0px 10px;
  word-break: break-word;
}

@media (max-width: 70em) {
  .element-label {
    padding: 0px 20px;
  }
}

.element-toggle {
  padding: 0px 0px 0px 3px;
  height: 15px;
}

@media (max-width: 70em) {
  .element-toggle {
    padding: 0px 0px 3px 3px;
  }
}

@media (max-width: 70em) {
  .tabBody {
    overflow-y: scroll;
    height: calc(100vh - 140px) !important;
  }
}

.tabBody {
  /* margin-right:-20px !important; */
  overflow-y: scroll;
  height: calc(100vh - 160px);
}

.regionDropdown {
  padding-bottom: 13px;
  width: 150px;
}

.tabLabel {
  padding: 10px 10px 13px 0px;
}

.tab-header {
  word-break: break-word;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 5px;
  margin-bottom: 15px;
  border-bottom: solid 2px #0f62fe;
}

.tabs-nav {
  padding-left: 13px !important;
  min-width: 10% !important;
  left: 5px;
  width: 60px;
  align-items: left;
}

.round{
  border: 0.1em solid ;
  border-radius: 25px;
  padding: 3.5px;
}

.tabs-grid {
  padding: 45px 0px 0px 0px;
  max-width: 60px !important;
}

.tab {
  width: 100%;
}

.tab button {
  display: block;
  background-color: inherit;
  padding: 10px 0px 10px 0px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  font-size: 17px;
}

.tab button:hover {
  color: #0f62fe;
}

.tab button.active {
  color: #0f62fe;
  border-right: 2px solid #0f62fe;
}

.tabcontent {
  padding: 0px 0px 0px 10px;
}
